<% if flash[:errors] %>
  <%= erb :_errors, locals: {errors: flash[:errors]} %>
<% end %>

<div class="panel panel-info">

  <div class="panel-heading">
    <h3> Edit your message </h3>
  </div>

  <form action="<%= message_path(@message) %>" method="POST" class="navbar-form">
    <input type='hidden' name='_method' value='PUT' />

    <div class="control_group">

      <div class="panel-body">    
        <div class="row">
          <div class="col-md-12">
            <textarea name='message[text]' placeholder="Text of message" class='form-control' style="width: 254px; height: 100px;"><%= @message_descrypted %></textarea>
          </div>
        </div>
      </div>

      <div class="panel-body">    
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <p><input type='radio' name='message[method]' value='time'> Delete the message through 1 hour </p>
              <p><input type='radio' name='message[method]' value='view'> Delete after the message will be viewed</p>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">    
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <input type="text" id="password" placeholder="Password" name='message[password]' value='<%= @message.password %>' class='form-control'>
              <span class="input-group-btn">
                <button type="submit" class="btn">Save</button>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>

  </form>

</div>
